<h1> add </h1>
<form action="/add" method="POST">
    Phone: <input type="text" name="Phone"><br>
    Password: <input type="text" name="Password"><br>
    TypeRegister: <input type="text" name="TypeRegister"><br>
    Fullname: <input type="text" name="Fullname"><br>
    TypeUser: <input type="text" name="TypeUser"><br>
    IdProvince: <input type="text" name="IdProvince"><br>
    <button type="submit">add Custommer2</button> 
</form>